<div class="main-container">
  <h2>Admin Panel</h3>

  <div class="admin-panel-tab-btn-container">
    <button
      data-js="admin-panel-tab-users"
      class="btn btn-secondary"
    >
      Users
    </button>

    <button
      data-js="admin-panel-tab-tickets"
      class="btn btn-secondary active"
    >
      Tickets
    </button>

    <button
      data-js="admin-panel-tab-categories"
      class="btn btn-secondary"
    >
    Categories
  </button>
</div>

  <!-- Users -->
  <div data-js="admin-panel-users-tab" class="table-container">
    <div class="table-header">
      <h4>All users</h4>
      <div class="table-actions">
        <button data-js="admin-panel-user-update-btn" class="btn btn-clean btn-mini">
          <img src="../assets/update.png" alt="update-icon">
        </button>
        <button data-js="admin-panel-user-delete-btn" class="btn btn-clean btn-mini">
          <img src="../assets/delete.png" alt="delete-icon">
        </button>
        <button data-js="admin-panel-user-create-btn" class="btn btn-clean btn-mini">
          <img src="../assets/add.png" alt="add-icon">
        </button>
      </div>
    </div>
    <div data-js="admin-panel-users-table-body" data-name="users" class="table-body">
    </div>
  </div>

  <!-- Tickets -->
  <div data-js="admin-panel-tickets-tab" class="table-container hidden">
    <div class="table-header">
      <h4>All tickets</h4>
      <div class="table-actions">
        <button data-js="admin-panel-ticket-update-btn" class="btn btn-clean btn-mini">
          <img src="../assets/update.png" alt="update-icon">
        </button>
        <button data-js="admin-panel-ticket-delete-btn" class="btn btn-clean btn-mini">
          <img src="../assets/delete.png" alt="delete-icon">
        </button>
        <button data-js="admin-panel-ticket-create-btn" class="btn btn-clean btn-mini">
          <img src="../assets/add.png" alt="add-icon">
        </button>
      </div>
    </div>
    <div data-js="admin-panel-tickets-table-body" data-name="tickets" class="table-body">
      <div data-js="admin-panel-tickets-table-thead-tr" class="row header">
        <div data-js="admin-panel-tickets-table-th-id" class="cell">ID</div>
        <div data-js="admin-panel-tickets-table-th-title" class="cell">Title</div>
        <div data-js="admin-panel-tickets-table-th-description" class="cell hide-750">Description</div>
        <div data-js="admin-panel-tickets-table-th-priority" class="cell hide-500">Priority</div>
        <div data-js="admin-panel-tickets-table-th-status" class="cell hide-600">Status</div>
        <div data-js="admin-panel-tickets-table-th-created-by" class="cell">Created by</div>
        <div data-js="admin-panel-tickets-table-th-updated-at" class="cell hide-900">Last modified</div>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <div data-js="admin-panel-categories-tab" class="table-container hidden">
    <div class="table-header">
      <h4>All categories</h4>
      <div class="table-actions">
        <button data-js="admin-panel-category-update-btn" class="btn btn-clean btn-mini">
          <img src="../assets/update.png" alt="update-icon">
        </button>
        <button data-js="admin-panel-category-delete-btn" class="btn btn-clean btn-mini">
          <img src="../assets/delete.png" alt="delete-icon">
        </button>
        <button data-js="admin-panel-category-create-btn" class="btn btn-clean btn-mini">
          <img src="../assets/add.png" alt="add-icon">
        </button>
      </div>
    </div>
    <div data-js="admin-panel-categories-table-body" data-name="categories" class="table-body">
      <div data-js="admin-panel-categories-table-thead-tr" class="row header">
        <div data-js="admin-panel-categories-table-th-id" class="cell">ID</div>
        <div data-js="admin-panel-categories-table-th-name" class="cell">Name</div>
      </div>
    </div>
  </div>
</div>
