<div class="main-container">
  <h3>My tickets</h3>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Attachment</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>13</td>
        <td>User settings</td>
        <td>My user settings are not working</td>
        <td>&lt;img_543.png&gt;</td>
      </tr>

      <tr>
        <td>532</td>
        <td>KeyboardBroken</td>
        <td>MyLaptopKeyboardSpaceKeyIsNotWorking</td>
        <td>&lt;img_1124.png&gt;</td>
      </tr>
    </tbody>
  </table>

  <!-- TEST ZONE -->
  <script type="module" src="scripts/test.js"></script>
  <div class="debug-error-buttons">
    <button class="btn">Dashboard (OK)</button>

    <button class="btn">Admin Panel (NO PERMISSIONS)</button>

    <button class="btn">Fake Route (NOT FOUND)</button>

    <button id="btn-force-error" class="btn">Force Generic Error</button>
  </div>
</div>
