<div id="header-view-container">
  <header class="header">
    <div data-js="header-logo" class="header-logo" title="Go to index">
      <img class="header-logo-img" src="assets/logo.svg" alt="Logo" />
      <div class="header-logo-title-container">
        <span class="header-logo-title">IssueXpert</span>
      </div>
    </div>

    <div class="header-user">
      <div class="header-user-avatar">
        <span
          class="header-user-avatar-content"
          data-js="header-user-avatar"
        ></span>
      </div>

      <div class="header-user-details">
        <span class="header-user-details-name" data-js="header-user-name"
          >...</span
        >
        <span class="header-user-details-email" data-js="header-user-email"
          >...</span
        >
        <div class="header-user-details-role">
          <span
            class="header-user-details-role-content"
            data-js="header-user-role"
            >...</span
          >
          <button
            type="button"
            class="btn-clean btn-sm btn-anim-content-rotate"
            data-js="header-btn-admin"
            title="Admin panel"
          >
            ⚙️
          </button>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-lg"
        data-js="header-btn-logout"
        title="Logout"
      >
        <span class="btn-anim-content-grow-md">⏻</span>
      </button>
    </div>
  </header>
</div>
