<div id="modal-view-container" class="hidden" data-js="modal-container">
  <div class="modal">
    <div class="modal-overlay" data-js="modal-overlay"></div>

    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <span class="modal-header-title" data-js="modal-title"></span>

        <button
          type="button"
          class="btn-clean modal-header-close"
          data-js="modal-close"
          title="Close"
        >
          ✖
        </button>
      </div>

      <!-- Dynamic body -->
      <div class="modal-body" data-js="modal-body"></div>

      <!-- Footer (optional) -->
      <div class="modal-footer" data-js="modal-footer"></div>
    </div>
  </div>
</div>
