.header-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 80px;
  transition: 0.3s ease;
}
.header-topbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
  cursor: pointer;
  user-select: none;
}
.header-topbar-logo-img {
  max-height: 80px;
  height: 100%;
  object-fit: contain;
}
.header-topbar-logo-title {
  padding: 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
  user-select: none;
  color: #0f172a;
}
.header-topbar-logo-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}
.header-topbar-logo-title-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #f1f5f9;
  z-index: -1;
  transition: width 0.25s ease;
}
.header-topbar-logo:hover {
  transition: background-color 0.5s ease;
}
.header-topbar-logo:hover .header-topbar-logo-title-container::before {
  width: 100%;
}
.header-topbar-user {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-topbar-user-avatar {
  position: relative;
}
.header-topbar-user-avatar-role-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: min-content;
  z-index: 102;
  pointer-events: none;
}
.header-topbar-user-avatar-role-icon svg {
  width: 18px;
  height: 18px;
  stroke: #ffffff;
  fill: #6f8ad5;
}
.header-topbar-user-avatar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eaf2fb;
  border: 1px solid #7a9de9;
  color: #7a9de9;
  font-size: 1rem;
  font-weight: 600;
  flex-shrink: 0;
  z-index: 101;
}
.header-topbar-user-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 16px;
}
.header-topbar-user-details-email {
  font-size: 0.8rem;
  color: #475569;
}
.header-topbar-user-details-role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.header-topbar-user-details-role-content {
  font-size: 0.9rem;
  margin-right: 8px;
  color: #0f172a;
}
.header-topbar-user-details .btn-anim-content-rotate {
  position: absolute;
  bottom: 0px;
  right: 16px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.header-topbar-user-details .btn-anim-content-rotate svg {
  width: 24px;
  height: 24px;
}
.header-topbar-user > button {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.header-topbar-user > button svg {
  stroke: #0f172a;
}
.header-topbar-user > button:hover {
  background: rgba(239, 68, 68, 0.1);
}
.header-topbar-user > button:hover svg {
  stroke: #ef4444;
}

@media (max-width: 650px) {
  .header-topbar-user {
    padding-left: 10px;
  }
  .header-topbar-user-avatar-role-icon {
    width: 15px;
    height: 15px;
  }
  .header-topbar-user-avatar-content {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
  .header-topbar-user-details {
    width: 100%;
    padding-right: 46px;
  }
  .header-topbar-user-details-name {
    font-size: 0.95rem;
  }
  .header-topbar-user-details-email {
    display: none;
  }
  .header-topbar-user-details-role-content {
    font-size: 0.85rem;
  }
  .header-topbar-user .btn[data-js=header-btn-logout] {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: #0f172a;
    transform: translateY(-50%);
    border: none;
    box-shadow: none;
  }
  .header-topbar-user .btn[data-js=header-btn-logout] .btn-anim-content-grow-md svg {
    width: 16px;
    height: 16px;
    stroke: #0f172a;
  }
  .header-topbar-user .btn[data-js=header-btn-logout]:hover {
    background: rgba(239, 68, 68, 0.1);
  }
  .header-topbar-user .btn[data-js=header-btn-logout]:hover svg {
    stroke: #ef4444;
  }
}
@media (max-width: 500px) {
  .header-topbar {
    padding-right: 0;
  }
  .header-topbar-logo-title-container {
    display: none;
  }
}
@media (max-width: 380px) {
  .header-topbar-user-details {
    padding-right: 40px;
  }
  .header-topbar-user-details-name {
    font-size: 0.85rem;
  }
  .header-topbar-user-details-role-content {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=header-topbar.css.map */
