<div class="modal-form">
  <div class="modal-form-group">
    <label for="modal-form-ticket-title" class="modal-form-label">Title</label>
    <input
      id="modal-form-ticket-title"
      data-js="modal-form-ticket-update-title"
      class="modal-form-input"
      disabled
    />
  </div>
  <div class="modal-form-group">
    <label for="modal-form-ticket-description" class="modal-form-label"
      >Email</label
    >
    <textarea
      id="modal-form-ticket-description"
      data-js="modal-form-ticket-update-description"
      class="modal-form-textarea"
    ></textarea>
  </div>
  <div class="modal-form-group">
    <label class="modal-form-label">Priority</label>
    <div class="modal-form-slider-wrapper">
      <input
        value="5"
        type="range"
        min="1"
        max="9"
        id="modal-form-ticket-priority"
        data-js="modal-form-ticket-update-priority-slider"
        class="modal-form-slider"
        data-slider
      />
      <span
        class="modal-form-slider-bubble"
        data-js="modal-form-ticket-update-priority-slider-bubble"
        data-slider-value
        >5</span
      >
    </div>
  </div>
  <div class="modal-form-group">
    <label class="modal-form-label">Status</label>
    <select
      name="status"
      data-js="modal-form-ticket-status"
      class="form-select"
    ></select>
  </div>
</div>
