<div class="modal-form">
  <div class="modal-form-group">
    <label for="modal-user-current-password" class="modal-form-label">
      Current password
    </label>
    <input
      type="password"
      placeholder="••••••••"
      id="modal-user-current-password"
      data-js="modal-user-password-current"
      class="modal-form-input"
      required
    />
  </div>

  <div class="modal-form-group">
    <label for="modal-user-new-password" class="modal-form-label">
      New password
    </label>
    <input
      type="password"
      placeholder="••••••••"
      id="modal-user-new-password"
      data-js="modal-user-password-new"
      class="modal-form-input"
      required
    />
  </div>

  <div class="modal-form-group">
    <label for="modal-user-confirm-password" class="modal-form-label">
      Confirm new password
    </label>
    <input
      type="password"
      placeholder="••••••••"
      id="modal-user-confirm-password"
      data-js="modal-user-password-confirm"
      class="modal-form-input"
      required
    />
  </div>
</div>
