header {
  display: flex;
  justify-content: space-between;

  & .header-header {
    & img {
      width: 32px;
    }
  }
  & .header-nav {
    & ul {
      display: flex;
      list-style: none;

      & li {
        & a {
          text-decoration: none;
        }
      }
    }
  }

  & .user-info {
    display: flex;

    & .user-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: blue;
      color: white;
      font-weight: bold;
      font-size: 14px;
      user-select: none;
    }

    & .user-details {
      display: flex;
      flex-direction: column;
    }

    & .btn-logout {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blanchedalmond;
      padding: 5px 10px;
      border-radius: 8px;
      box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
      cursor: pointer;
      user-select: none;
      transition: 0.6s;

      &:hover {
        background-color: azure;
        box-shadow: 0px 0px 6px;
        transition: 0.6s;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

th {
  font-weight: 600;
  background: lightskyblue;
}

tr:hover {
  background: lightblue;
}
