@use "main" as *;

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  padding-right: $spacing-md;

  background-color: $surface;
  border-bottom: 1px solid $border;
  box-shadow: $shadow-sm;

  &-logo {
    display: flex;
    align-items: center;

    background-color: $surface;

    cursor: pointer;
    user-select: none;

    &-img {
      max-height: 70px;
      height: 100%;
      object-fit: contain;
    }

    &-title {
      padding: 0 10px;
      font-weight: 600;
      font-size: 1.2rem;
      user-select: none;
      color: $text;
    }
  }

  &-user {
    display: flex;
    align-items: center;

    &-avatar {
      &-content {
        @include flex-center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $primary;
        color: $text-inverse;
        font-weight: bold;
        font-size: 14px;
        user-select: none;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $spacing-sm $spacing-md;

      &-email {
        font-size: 0.8rem;
        color: $text-muted;
      }

      &-role {
        display: flex;
        align-items: baseline;

        &-content {
          font-size: 0.9rem;
          margin-right: 5px;
          color: $text;
        }
      }
    }
  }
}
