@use "main" as *;

#login-view-container {
  height: 100vh;
  @include flex-center;
  background-color: $bg;
}

form {
  background: $surface;
  padding: $spacing-lg;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  width: 300px;

  h2 {
    text-align: center;
    margin-bottom: $spacing-md;
    color: $text;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: $spacing-md;
    background-color: $surface;
    color: $text;
    border: 1px solid $border;
    border-radius: $spacing-sm;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }
}
